

<div class="dbs">  
    <ol class="{{dir_language1}} dbs">
        <li class="{{dir_language1}} dbs">{{What does this tell you about Jesus?}}<br>
            ||What does this tell you about Jesus?||</li>
        <li class="{{dir_language1}} dbs">{{What does this tell you about God?}}<br>
            ||What does this tell you about God?||</li>
        <li class="{{dir_language1}} dbs">{{What does this tell you about people?}}<br>
            ||What does this tell you about people?||</li>
        <li class="{{dir_language1}} dbs">{{If this is true, what difference would it make in your life?}}<br>
            ||If this is true, what difference would it make in your life?||</li>
        <li class="{{dir_language1}} dbs">{{Who are five people you can share your discoveries with?}}<br>
            ||Who are five people you can share your discoveries with?||</li>
    </ol>
</div>

